
    
.aboutDiv{
        width: 27%;
        float: left;
        display: table-cell;
        margin-left: 3vw;
        margin-right: 3vw;
    }

.input{
        width: 100%;
    }

#contactBG{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-top: 5vh;

}

    @media only screen and (max-width: 600px) {
        #contactBG{
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            padding-top: 5vh;
        }        
            
            .aboutDiv{
                width: 80%;
                float: left;
                display: table-cell;
                margin-left: 3vw;
                margin-right: 3vw;
            }
        
            .input{
                width: 100%;
            }
      }