#contact{
    margin-top: 5vh;
    }
    
    .aboutDiv{
        width: 27%;
        float: left;
        display: table-cell;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .input{
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        #contact{
            margin-top: 5vh;
            }
            
            .aboutDiv{
                width: 80%;
                float: left;
                display: table-cell;
                margin-left: 3vw;
                margin-right: 3vw;
            }
        
            .input{
                width: 100%;
            }
      }