

#header{
        /* The image used */
        background-image: url("../assets/img/homeBG.jpg");
  
        /* Set a specific height */
        height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    height: 90vh;
    text-align: center;
    padding: 14rem 0rem 0rem 0rem;
    
}

.welcome{
    /* background-color: rgba(0, 0, 0, 0.646); */
    color: white;
    font-size: 6.5rem;
    margin-bottom: 1rem;
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;

}

.welcome2{
    /* background-color: rgba(0, 0, 0, 0.646); */
    color: white;
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}
@media only screen and (max-width: 1250px) {
    #header{
    

        padding: 14rem 0rem 0rem 0rem;
        
    }

    .welcome{
        font-size: 5rem;
    }
    
    .welcome2{
        font-size: 3rem;

    }

}
@media only screen and (max-width: 1100px) {

    
    .welcome{
        font-size: 5rem;
    }
    
    .welcome2{
        font-size: 3rem;

    }

}

@media only screen and (max-width: 1000px) {
    #header{
    

        padding: 13rem 0rem 0rem 0rem;
        
    }

    .welcome{
        font-size: 4.5rem;
    }
    
    .welcome2{
        font-size: 2.5rem;

    }

}


@media only screen and (max-width: 900px) {
    #header{
    

        padding: 13rem 15rem 0rem 15rem;
        
    }

    .welcome{
        font-size: 4rem;
    }
    
    .welcome2{
        font-size: 2rem;

    }

}

@media only screen and (max-width: 800px) {
    #header{
    

        padding: 13rem 0rem 0rem 0rem;
        
    }

    .welcome{
        font-size: 3.5rem;
    }
    
    .welcome2{
        font-size: 2.2rem;

    }

}



@media only screen and (max-width: 600px) {

    
    #header{
    
        background-image: url(../assets/img/homeBGmoblie.jpg);
        padding: 14rem 0rem 0rem 0rem;
        height: 90vh;
        
    }

    .welcome{
        font-size: 3rem;
    }
    
    .welcome2{
        font-size: 1.5rem;

    }
  }

  @media only screen and (max-width: 500px) {
    #header{
    

        padding: 14rem 0rem 0rem 0rem;
        height: 65vh;
        
    }

    .welcome{
        font-size: 2.5rem;
    }
    
    .welcome2{
        font-size: 1.3rem;

    }

}