

#header{

    height: 68vh;
    z-index: -15;
    
}

.headerBack{
    position: fixed;
    width: 900px;
    height: 300px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f1626;
  }
  
  .oneback{
    background-image: linear-gradient(-90deg,  #0f1626, #5f6269);
    height: 100%;
    width: 33.33%;
    float: left;
    display: table-cell;
  }
  
  .twoback{
    background-color: #0f1626;
    height: 100%;
    width: 33.33%;
    float: left;
    display: table-cell;
  }
  
  .threeback{
    background-image: linear-gradient(90deg,  #0f1626, #5f6269);
    height: 100%;
    width: 33.33%;
    float: left;
    display: table-cell;
  }

.welcome{
    /* background-color: rgba(0, 0, 0, 0.646); */

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 6.5rem;
    margin-bottom: 1rem;
    font-weight: bold;

    text-shadow:
    5px 5px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;

}

.welcome2{
    /* background-color: rgba(0, 0, 0, 0.646); */
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;

    text-shadow:
    5px 5px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}

.onecircle{
    background-image: linear-gradient(135deg,  #ff533d, #ffffff);
    height: 300px;
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 2;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  
  .twocircle{
    background-image: linear-gradient(-135deg,  #ab987a, #ffffff);
    height: 300px;
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 2;
    top: 60%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 1400px) {
    .onecircle{
        left: 10%;
      }
      
      
      .twocircle{
        left: 90%;
      }
  }
@media only screen and (max-width: 1350px) {
    #header{
    

        padding: 14rem 0rem 0rem 0rem;
        
    }

    .welcome{
        font-size: 5rem;
        top: 35%;
    }
    
    .welcome2{
        font-size: 3rem;
        top: 60%;

    }

}
@media only screen and (max-width: 1100px) {

    
    .welcome{
        font-size: 5rem;
    }
    
    .welcome2{
        font-size: 3rem;

    }

    .onecircle{
        left: 10%;
        width: 250px;
        height: 250px;
      }
      
      
      .twocircle{
        left: 90%;
        width: 250px;
        height: 250px;
      }
  

}

@media only screen and (max-width: 1000px) {
    #header{
    

        padding: 13rem 0rem 0rem 0rem;
        
    }

    .headerBack{
        width: 500px;
        height: 450px;
      }

      .onecircle{
        left: 22%;
        top: 18%;
        width: 250px;
        height: 250px;
      }
      
      
      .twocircle{
        left: 80%;
        top: 80%;
        width: 250px;
        height: 250px;
      }

    .welcome{
        font-size: 4.5rem;
    }
    
    .welcome2{
        font-size: 2.5rem;

    }

}


@media only screen and (max-width: 900px) {
    #header{
    

        padding: 13rem 15rem 0rem 15rem;
        
    }

    .welcome{
        font-size: 4rem;
    }
    
    .welcome2{
        font-size: 2rem;

    }

}

@media only screen and (max-width: 800px) {
    #header{
    

        padding: 13rem 0rem 0rem 0rem;
        
    }

    .onecircle{
        left: 22%;
        top: 25%;
        width: 250px;
        height: 250px;
      }
      
      
      .twocircle{
        left: 80%;
        top: 80%;
        width: 250px;
        height: 250px;
      }

    .welcome{
        font-size: 4rem;
        top: 30%;
        left: 65%;
    }
    
    .welcome2{
        font-size: 2.2rem;
        top: 55%;
        left: 45%;

    }

}



@media only screen and (max-width: 600px) {

    
    #header{
    
        background-image: url(../assets/img/homeBGmoblie.jpg);
        padding: 14rem 0rem 0rem 0rem;
        height: 90vh;
        
    }

    .headerBack{
        width: 450px;
        height: 410px;
        z-index: 1;
      }

    .onecircle{
        left: 22%;
        top: 25%;
        width: 225px;
        height: 225px;
        z-index: -1;
      }
      
      
      .twocircle{
        left: 80%;
        top: 80%;
        width: 225px;
        height: 225px;
        z-index: -1;
      }

    .welcome{
        font-size: 3.5rem;
        top: 30%;
        left: 65%;
        z-index: 2;
    }
    
    .welcome2{
        font-size: 2.2rem;
        top: 55%;
        left: 45%;
        z-index: 2;

    }
  }

  @media only screen and (max-width: 550px) {
    #header{
    

        padding: 14rem 0rem 0rem 0rem;
        height: 65vh;
        
    }

    .headerBack{
        width: 400px;
        height: 360px;
      }

    .onecircle{
        left: 22%;
        top: 25%;
        width: 200px;
        height: 200px;
      }
      
      
      .twocircle{
        left: 80%;
        top: 75%;
        width: 200px;
        height: 200px;
      }

    .welcome{
        font-size: 3.5rem;
        top: 33%;
        left: 65%;
       
    }
    
    .welcome2{
        font-size: 2.2rem;
        top: 55%;
        left: 45%;

    }

}


@media only screen and (max-width: 500px) {
    #header{
    

        padding: 14rem 0rem 0rem 0rem;
        height: 65vh;
        
    }

    .headerBack{
        width: 350px;
        height: 350px;
      }

    .onecircle{
        left: 22%;
        top: 22%;
        width: 200px;
        height: 200px;
        z-index: -1;
      }
      
      
      .twocircle{
        left: 75%;
        top: 75%;
        width: 200px;
        height: 200px;
        z-index: -1;
      }

    .welcome{
        font-size: 2.8rem;
        top: 36%;
        left: 55%;
        width: 20rem;
    }
    
    .welcome2{
        font-size: 2.2rem;
        top: 55%;
        left: 55%;

    }

}


@media only screen and (max-width: 400px) {
    #header{
    

        padding: 14rem 0rem 0rem 0rem;
        height: 65vh;
        
    }

    .headerBack{
        width: 300px;
        height: 300px;
      }

    .onecircle{
        left: 22%;
        top: 22%;
        width: 150px;
        height: 150px;
      }
      
      
      .twocircle{
        left: 75%;
        top: 75%;
        width: 150px;
        height: 150px;
      }

    .welcome{
        font-size: 2.8rem;
        top: 36%;
        left: 55%;
        width: 20rem;
    }
    
    .welcome2{
        font-size: 2.2rem;
        top: 55%;
        left: 55%;

    }

}