.modals{
    position: fixed;
    width: 90vw;
    height: 90vh;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    
  }
#modals{
    display: none;
}
#modals2{
    display: none;
}

.modalHeader{
    width: 100%;
    position: absolute;
    text-align: center;
    background-image: linear-gradient(-90deg,  #0f1626, #ff533d);
    color: white;
    border: solid black 2px;

}

.modalHeader:hover{
    cursor: pointer;
}
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    
}

.iframeNone{
    display: none;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 83vh;
    width: 100%;
    left: 50%;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 10rem;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);

}

@media only screen and (max-width: 450px) {
    .iframe-container {
    padding-top: 83vh;
    }
}