.navbar-brand {
    font-size: 1.3rem;
    color: white!important;
    font-family: 'Titillium Web', sans-serif;
}

#navbarNav {
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;

}

#navi {
    position:fixed;
}