
#navi {
    font-size: 1rem;
    height: 5vh;
    
}

#name{
    font-size: 1rem;
}

#navbarContainer{
    /* background-color: #014421; */
    padding: 0rem;
    position: fixed;
    height: 7.5vh;
    z-index: 1;
  
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.nav{
    width: 50%;
    float: left;
    display: table-cell;
}

.nav2{
    width: 50%;
    float: left;
    display: table-cell;
}

.linkOne{
    width: 33.33%;
    float: left;
    display: table-cell;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #ab987a
    
}

.linkOne:hover{
    box-shadow: 0 0 8px -1px rgba(0,0,0,0.6);
    color: black;
}

.linkTwo{
    width: 33.33%;
    float: left;
    display: table-cell;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #0f1626; 
}

.linkTwo:hover{
    box-shadow: 0 0 8px -1px rgba(0,0,0,0.6);
    color: rgb(105, 101, 101);
}

.linkThree{
    width: 33.33%;
    float: left;
    display: table-cell;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #ff533d
}

.linkThree:hover{
    box-shadow: 0 0 8px -1px rgba(0,0,0,0.6);
    color: black;
}



.link2{
    width: 33%;
    float: left;
    display: table-cell;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 800px) {
   
    #navi {
        font-size: 1rem;
        height: 5vh;
        
    }
    
    h2{
        font-size: 100%
    }
    
    .nav{
        width: 0%;
        float: left;
        display: table-cell;
    }
    
    .nav2{
        width: 100%;
        float: left;
        display: table-cell;
    }
    
    #name{
        font-size: 1rem;
    }
    
  
      }

@media only screen and (max-width: 600px) {
   
#navi {
    font-size: 1rem;
    height: 5vh;
    
}

h2{
    font-size: 100%
}

.nav{
    width: 0%;
    float: left;
    display: table-cell;
}

.nav2{
    width: 100%;
    float: left;
    display: table-cell;
}

#name{
    font-size: 1rem;
}


  }

  @media only screen and (max-width: 450px) {
    h2{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 400px) {
    h2{
        font-size: 0.8rem;
        padding-top: 0.7rem;
    }
}