
#navi {
    font-size: 1rem;
    height: 5vh;
    
}

#name{
    font-size: 1rem;
}

#navbarContainer{
    background-color: #228b22;
}

.nav{
    width: 50%;
    float: left;
    display: table-cell;
}

.nav2{
    width: 50%;
    float: left;
    display: table-cell;
}

.link{
    width: 25%;
    float: left;
    display: table-cell;
    text-align: center;
}

.link:hover{
    background-color: azure
}

@media only screen and (max-width: 800px) {
   
    #navi {
        font-size: 1rem;
        height: 5vh;
        
    }
    
    h2{
        font-size: 100%
    }
    
    .nav{
        width: 0%;
        float: left;
        display: table-cell;
    }
    
    .nav2{
        width: 100%;
        float: left;
        display: table-cell;
        padding-left: 3vw;
    }
    
    #name{
        font-size: 1rem;
    }
    
    .link{
        width: 25%;
        float: left;
        display: table-cell;
    }
      }

@media only screen and (max-width: 600px) {
   
#navi {
    font-size: 1rem;
    height: 5vh;
    
}

h2{
    font-size: 100%
}

.nav{
    width: 0%;
    float: left;
    display: table-cell;
}

.nav2{
    width: 100%;
    float: left;
    display: table-cell;
    padding-left: 3vw;
}

#name{
    font-size: 1rem;
}

.link{
    width: 25%;
    float: left;
    display: table-cell;
}
  }