


#title{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: #014421; */
    background-image: linear-gradient(-90deg,  #014421, #026431);
    color: white;
    font-weight: bold;
    

}

#projects{
    padding-bottom: 3rem;
}

.projectSection{
    margin-left: 3vw;
}



.projects{
    width: 50%;
    float: left;
    display: table-cell;
    margin-top: 7vh;
}

.twentyfive{
    width: 30%;
    float: left;
    display: table-cell;
}   

.seventyfive{
    width: 50%;
    float: left;
    display: table-cell;
    border-radius: 2vw;
    border: solid 5px black;
    height: 12rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);

}

.img{
    height: 12vw;
    width: 12vw;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border-radius: 2vw;
    border: solid 5px black
}


.img:hover{
    height: 12vw;
    width: 12vw;
    box-shadow: 0 3vw 6vw 0 rgba(0, 0, 0, 0.497), 0 3vw 6vw 0 rgba(0, 0, 0, 0.585);
}

#poke{
    background-color: red;
}

#dog{
    background-color: black;
}

a { color: inherit; } 
@media only screen and (max-width: 1000px) {

    #title{
        text-align: center;
        font-size: 6vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    
    }
    
    
    
    .projectSection{
        margin-left: 3vw;
    }
    
    
    
    .projects{
        width: 50%;
        float: left;
        display: table-cell;
        margin-top: 1vh;
    }
    
    .twentyfive{
        width: 80%;
        float: left;
        display: table-cell;
        text-align: center;
        margin: 3vh;
    }   
    
    .seventyfive{
        width: 80%;
        float: left;
        display: table-cell;
        border-radius: 2vw;
        border: solid 5px black;
        height: 12rem;
        padding: 1rem;
    
    }
    
    .img{
        height: 12vw;
        width: 12vw;
        box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
        border-radius: 2vw;
        border: solid 5px black
    }
    
    
    .img:hover{
        height: 12vw;
        width: 12vw;
        box-shadow: 0 3vw 6vw 0 rgba(0, 0, 0, 0.497), 0 3vw 6vw 0 rgba(0, 0, 0, 0.585);
    }
    
    #poke{
        background-color: red;
    }
    
    #dog{
        background-color: black;
    }
    
    a { color: inherit; } 
    

  }

@media only screen and (max-width: 600px) {
    
    


#title{
    text-align: center;
    font-size: 4.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

}



.projectSection{
    margin-left: 3vw;
}



.projects{
    width: 100%;
    float: left;
    display: table-cell;
    margin-top: 1vh;
}

.twentyfive{
    width: 80%;
    float: left;
    display: table-cell;
    text-align: center
}   

.seventyfive{
    width: 80%;
    float: left;
    display: table-cell;
    border-radius: 2vw;
    border: solid 5px black;
    height: 12rem;
    padding: 1rem;
    text-align: center;
    margin-left: 2vw;

}

.img{
    height: 30vw;
    width: 30vw;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border-radius: 2vw;
    border: solid 5px black
}


.img:hover{
    height: 30vw;
    width: 30vw;
    box-shadow: 0 3vw 6vw 0 rgba(0, 0, 0, 0.497), 0 3vw 6vw 0 rgba(0, 0, 0, 0.585);
}

#poke{
    background-color: red;
}

#dog{
    background-color: black;
}

a { color: inherit; } 

  }


 