:root {
    --cyan: rgb(81, 231, 211);
    --red: rgb(233, 35, 35);
    --green: rgb(84, 255, 61);
    --black: rgb(0, 0, 0);
    --purple: rgb(126, 18, 117);

    --font1: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}
/* font-family: 'Titillium Web', sans-serif;
font-family: 'Roboto', sans-serif; */