.body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/img/bodyBG.jpg);
}



.container{
    display: table;
    width: 100%;
    left: 0;
    top: 0;
    
    
}

.container-fluid{
    display: table;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    
}

.two{
    width: 50%;
    float: left;
    display: table-cell;
}


.three{
    width: 33%;
    float: left;
    display: table-cell;
}

.four{
    width: 25%;
    float: left;
    display: table-cell;
}

.five{
    width: 20%;
    float: left;
    display: table-cell;
}

.five{
    width: 20%;
    float: left;
    display: table-cell;
}

.six{
    width: 16%;
    float: left;
    display: table-cell;
}